@*
    Burası Send Message
*@


<div class="col-lg-7">
    <form method="post" asp-action="SendMessage" asp-controller="Default" data-aos="fade-up" data-aos-delay="200">
        <div class="row gy-4">

            <div class="col-md-6">
                <label for="name-field" class="pb-2">Adınız</label>
                <input type="text" name="Name" class="form-control" required="">
            </div>

            <div class="col-md-6">
                <label for="email-field" class="pb-2">Email</label>
                <input type="email" class="form-control" name="Email" required="">
            </div>

            <div class="col-md-12">
                <label for="subject-field" class="pb-2">Konu</label>
                <input type="text" class="form-control" name="Subject" required="">
            </div>

            <div class="col-md-12">
                <label for="message-field" class="pb-2">Mesaj</label>
                <textarea class="form-control" name="MessageBody" rows="10" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">


                <button class="btn btn-primary" type="submit" onclick="sendMessage()">Mesajı Gönder</button>
            </div>

        </div>
    </form>
</div><!-- End Contact Form -->

<script>
    function sendMessage() {
        let form = document.querySelector("form");
        if (form.checkValidity()) {
            Swal.fire({
                title: "Mesajınız başarıyla gönderildi",
                icon: "Success",
                draggable: true
            });
        }
        else {
            Swal.fire({
                title: "Hatalar var kontrol edin",                
                icon: "UnSuccess",
                draggable: true
            });
        }


    }

</script>