
@*
   Burası Hero
*@


<section id="hero" class="hero section">

    <img src="~/Kelly-1.0.0/assets/img/Kapak.png" alt="" data-aos="fade-in">

    <div class="container text-center" data-aos="zoom-out" data-aos-delay="100" style="margin-top: 450px;">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 style="color: #ffffff;">Ali Ozan Göndür</h2>
                <p style="color: #dcdcdc;">Otomasyon Sistemleri ve Yazılım Geliştiricisi</p>
                <a href="/Default/Index#about" class="btn-get-started">Hakkımda</a>
            </div>
        </div>
    </div>

</section>